* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}
body {
    background-color:midnightblue;
}

header {
    background-color: #222;
    color: white;
    padding: 1rem;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}

h1 {
    margin-bottom: 1rem;
}
.search-container {
    display: flex;
    justify-content: center;
    gap: 0.5rem;
}

#searchInput {
    padding: 0.5rem;
    width: 300px;
    border: none;
    border-radius: 4px;
}

#searchButton {
    padding: 0.5rem 1rem;
    background-color: #e50914;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

#searchButton:hover {
    background-color: #0ec108;
}

main {
    max-width: 1200px;
    margin: 2rem auto;
    padding: 0 1rem;
}

#moviesGrid, #favoritesGrid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 1rem;
}
